@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;     

    /* Grid Settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color_dark: #373737;
    --color-light: #ebebeb;


    /* color swatch category */
    --category-seafood: #3E30E2;
    --category-chicken: #249C8E;
    --category-meats: #D09189;
    --category-veg: #298F3F;
    --category-dessert: #9374EB;
    --category-misc: #9A951E;
    --category-pasta: #BF5B23;




}

/* Reset CSS */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color:var(--background-color-dark-bg);
  height: auto;
  width:var(--width-full);
}

.navigation {
  background-color: #00000088;
  position:relative;
  z-index: 5;
}

.menu-container {

  width:var(--width-12col);
  margin:0 auto 0 auto;
}

.menu-container ul {
  display: flex;
  font-size: 12px;

}

.menu-container ul li {
  list-style-type: none;
  margin: 10px 0;  
}

.menu-container ul li a { 
  color:var(--color-light);
  text-decoration:none;
  text-transform: uppercase;
  border-right: 1px solid var(--color-light);
  padding:0 10px 0 10px;
}

.menu-container ul li a:hover { 
  color:var(--primary-color);
}

.menu-container ul li:last-child a {
  border-right: none;

}


.hero {
  margin-top:-35px;

  width: var(--width-full);
  background-image: url('https://picsum.photos/1280/650');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:600px;
  color:var(--color-light)
}

.hero-container {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: var(--grid-gap);
  height:100%;
  width: var(--width-12col);
  margin:0 auto 0 auto;
}

.hero-text {
  grid-column: 1 / span 4;
  grid-row: 1;
  margin-top:200px
}

.hero-text-small-header {
  font-size:12px;
}

.hero-text-big-header {
  font-size:32px;
  text-transform: uppercase;
}

.hero-text-bold {
  font-weight: 900;
}


.hero-search {
  grid-column: 2 / span 3;
  grid-row: 2;
  margin-top:60px
}

.search-box {
  background-color: transparent;
  padding:10px 40px 10px 20px;
  border: var(--color-light) 1px solid;
  border-radius: 5px;
  outline:none;
  color:var(--color-light);
}

.search-box::placeholder {
  color:var(--color-light);
}

.todays_recipe {
  height: fit-content;
  width:var(--width-full);
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px auto;
  gap:var(--grid-gap);
}

.todays_recipes_content_block_image img {
    height: 200px;
    width:var(--width-full);
    background-size:cover;
    background-position: center;
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
}

.todays_recipes_headline {
  height:60px;
  color:var(--color-white); 
  border-bottom: 1px solid var(--color-white);
  font-size:37px;
  font-weight: 700;
  text-transform: uppercase;
  
  display:flex;
  justify-content: flex-start;
  align-items:center;
  padding: 0 0 20px 0;
  width:var(--width-12col);
  margin:70px auto 0 auto;  
}

.todays_recipes_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  gap:var(--grid-gap);
  height: fit-content;
  margin:30px auto 0 auto;
  box-sizing: border-box;
  width: var(--width-12col);
}

.todays_recipes_content_block {
  background-color:var(--background-color-light);
  position:relative;
  border-radius:5px;
  display:flex;
  flex-direction:column;
}
